# 1. Data

Location of the csv dataset ' Amazing Cart EU'
https://www.artofvisualization.com/pages/tableau

Location of the API countries 
https://api.covid19api.com/summary

# 2. Importing

Importing packages

In [2]:
import pandas as pd
import os 
import requests

Importing data from csv

In [3]:
# Finding current path
os.getcwd()

# Assigning csv files to dataframes
order_list = pd.read_csv('list_of_orders.csv', index_col=0) #reading list of orders file
order_breakdown = pd.read_csv('order_breakdown.csv', index_col=0) #reading list of orders file

In [4]:
# Merging dataframes from csv
combined = pd.merge(order_list, order_breakdown, how='inner', on = 'Order ID')

Importing data from API

In [5]:
#Retrieving country codes & name from API
cv19 = requests.get('https://api.covid19api.com/summary')
cv19 = cv19.json()
df = pd.DataFrame(cv19['Countries'])
countries = df[["Country","CountryCode"]]

# 3. Preparation

Merging dataframes from csv & API

In [6]:
df_joined_table = pd.merge(combined,countries, how='left',left_on='Country Name',right_on='CountryCode')
df_merged=df_joined_table[['Order Date','Customer Name','City','Country Name','Country','Region','Segment','Ship Date',
                     'Ship Mode','State','Product Name','Discount','Sales','Profit','Quantity','Category','Sub-Category']]
df_merged

,Order Date,Customer Name,City,Country Name,Country,Region,Segment,Ship Date,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,11/01/2011,Faith Greenwood,Vienna,AT,Austria,Central,Consumer,15/01/2011,Economy,Vienna,"Boston Canvas, Fluorescent",0.0,$55.00,$10.00,1,Office Supplies,Art
1,11/01/2011,Faith Greenwood,Vienna,AT,Austria,Central,Consumer,15/01/2011,Economy,Vienna,"Smead Trays, Single Width",0.0,$97.00,$31.00,2,Office Supplies,Storage
2,14/01/2011,Ella Troy,Vienna,AT,Austria,Central,Home Office,19/01/2011,Economy,Vienna,"Xerox Message Books, Premium",0.0,$224.00,$103.00,11,Office Supplies,Paper
3,14/01/2011,Ella Troy,Vienna,AT,Austria,Central,Home Office,19/01/2011,Economy,Vienna,"StarTech Card Printer, White",0.0,$486.00,$78.00,3,Technology,Machines
4,14/01/2011,Ella Troy,Vienna,AT,Austria,Central,Home Office,19/01/2011,Economy,Vienna,"Apple Headset, with Caller ID",0.0,$440.00,$66.00,6,Technology,Phones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,30/12/2014,Mary Saterfiel,Plymouth,UK,NaN,North,Consumer,03/01/2015,Economy,England,"Fellowes Box, Single Width",0.0,$39.00,$2.00,2,Office Supplies,Storage
8043,30/12/2014,Max Ludwig,Edinburgh,UK,NaN,North,Home Office,04/01/2015,Economy,Scotland,"Office Star Chairmat, Adjustable",0.0,$68.00,$27.00,1,Furniture,Chairs
8044,31/12/2014,Jose Gambino,Maidenhead,UK,NaN,North,Corporate,05/01/2015,Economy,England,"Ikea Stackable Bookrack, Traditional",0.0,$245.00,$91.00,2,Furniture,Bookcases
8045,31/12/2014,Jose Gambino,Maidenhead,UK,NaN,North,Corporate,05/01/2015,Economy,England,"Motorola Audio Dock, VoIP",0.0,$867.00,$251.00,5,Technology,Phones
8046,31/12/2014,Leon Barnes,Worcester,UK,NaN,North,Consumer,01/01/2015,Priority,England,"Fellowes Shelving, Single Width",0.0,$289.00,$75.00,5,Office Supplies,Storage

Ordering dataframe

In [7]:
df_merged.sort_values(by=['Order Date'], ascending=False)

,Order Date,Customer Name,City,Country Name,Country,Region,Segment,Ship Date,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
8046,31/12/2014,Leon Barnes,Worcester,UK,NaN,North,Consumer,01/01/2015,Priority,England,"Fellowes Shelving, Single Width",0.0,$289.00,$75.00,5,Office Supplies,Storage
4078,31/12/2014,Rebecca Chamberlain,Hamburg,DE,Germany,Central,Home Office,04/01/2015,Economy,Hamburg,"Wilson Jones Index Tab, Economy",0.0,$32.00,$8.00,5,Office Supplies,Binders
8045,31/12/2014,Jose Gambino,Maidenhead,UK,NaN,North,Corporate,05/01/2015,Economy,England,"Motorola Audio Dock, VoIP",0.0,$867.00,$251.00,5,Technology,Phones
8044,31/12/2014,Jose Gambino,Maidenhead,UK,NaN,North,Corporate,05/01/2015,Economy,England,"Ikea Stackable Bookrack, Traditional",0.0,$245.00,$91.00,2,Furniture,Bookcases
2438,31/12/2014,Evie Morton,Caen,FR,France,Central,Consumer,02/01/2015,Economy Plus,Normandy,"Fellowes Lockers, Wire Frame",0.1,$557.00,$217.00,3,Office Supplies,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297,01/01/2013,Freddie Kaur,Pau,FR,France,Central,Consumer,01/01/2013,Immediate,Aquitaine-Limousin-Poitou-Charentes,"Hoover Toaster, Black",0.1,$299.00,$116.00,4,Office Supplies,Appliances
5990,01/01/2013,Millie Arnold,Melilla,ES,Spain,South,Consumer,07/01/2013,Economy,Melilla,"Smead Legal Exhibit Labels, 5000 Label Set",0.0,$46.00,$9.00,4,Office Supplies,Labels
7283,01/01/2013,Lilian Rodgers,London,UK,NaN,North,Consumer,05/01/2013,Economy,England,"Fellowes Trays, Single Width",0.1,$155.00,$69.00,3,Office Supplies,Storage
5989,01/01/2013,Millie Arnold,Melilla,ES,Spain,South,Consumer,07/01/2013,Economy,Melilla,"Stanley Canvas, Easy-Erase",0.0,$99.00,$24.00,2,Office Supplies,Art
6452,01/01/2011,Ruby Patel,Stockholm,SE,Sweden,North,Home Office,05/01/2011,Economy Plus,Stockholm,"Enermax Note Cards, Premium",0.5,$45.00,-$26.00,3,Office Supplies,Paper

Replacing Nulls

In [8]:
df_merged = df_merged.fillna('United Kingdom')

In [9]:
df_sales_by_country = df_merged[['Country','Order Date','Sales']]
print(df_sales_by_country)

             Country  Order Date    Sales
0            Austria  11/01/2011   $55.00
1            Austria  11/01/2011   $97.00
2            Austria  14/01/2011  $224.00
3            Austria  14/01/2011  $486.00
4            Austria  14/01/2011  $440.00
...              ...         ...      ...
8042  United Kingdom  30/12/2014   $39.00
8043  United Kingdom  30/12/2014   $68.00
8044  United Kingdom  31/12/2014  $245.00
8045  United Kingdom  31/12/2014  $867.00
8046  United Kingdom  31/12/2014  $289.00

[8047 rows x 3 columns]

In [10]:
#group by 
df_grouped = df_sales_by_country.groupby(['Country','Order Date','Sales']).sum()
print(df_grouped)

Empty DataFrame
Columns: []
Index: [(Austria, 01/07/2014, $122.00), (Austria, 01/07/2014, $17.00), (Austria, 01/07/2014, $294.00), (Austria, 01/07/2014, $54.00), (Austria, 01/07/2014, $59.00), (Austria, 01/10/2014, $320.00), (Austria, 02/04/2013, $107.00), (Austria, 02/09/2011, $148.00), (Austria, 02/09/2011, $23.00), (Austria, 02/09/2011, $68.00), (Austria, 02/09/2014, $108.00), (Austria, 02/09/2014, $37.00), (Austria, 03/03/2013, $130.00), (Austria, 03/03/2013, $21.00), (Austria, 03/04/2012, $10.00), (Austria, 03/04/2014, $113.00), (Austria, 03/07/2013, $2,147.00), (Austria, 03/12/2012, $1,237.00), (Austria, 04/03/2014, $1,060.00), (Austria, 04/03/2014, $265.00), (Austria, 04/09/2012, $206.00), (Austria, 04/09/2012, $27.00), (Austria, 04/09/2012, $9.00), (Austria, 04/10/2013, $438.00), (Austria, 04/12/2013, $115.00), (Austria, 04/12/2013, $292.00), (Austria, 04/12/2013, $38.00), (Austria, 04/12/2013, $41.00), (Austria, 04/12/2013, $97.00), (Austria, 04/12/2014, $24.00), (Austria, 05/02/2013, $45.00), (Austria, 05/05/2011, $1,047.00), (Austria, 05/05/2011, $382.00), (Austria, 05/06/2013, $261.00), (Austria, 05/06/2013, $615.00), (Austria, 05/08/2011, $235.00), (Austria, 05/08/2011, $392.00), (Austria, 05/08/2011, $60.00), (Austria, 05/10/2013, $488.00), (Austria, 06/05/2013, $148.00), (Austria, 06/06/2011, $44.00), (Austria, 06/06/2011, $60.00), (Austria, 06/11/2013, $122.00), (Austria, 06/11/2013, $16.00), (Austria, 07/02/2012, $232.00), (Austria, 07/02/2012, $434.00), (Austria, 07/03/2012, $1,285.00), (Austria, 07/07/2014, $122.00), (Austria, 07/07/2014, $22.00), (Austria, 07/07/2014, $61.00), (Austria, 07/08/2011, $38.00), (Austria, 07/10/2014, $101.00), (Austria, 07/10/2014, $103.00), (Austria, 07/10/2014, $911.00), (Austria, 07/11/2012, $126.00), (Austria, 07/11/2012, $69.00), (Austria, 07/11/2014, $397.00), (Austria, 08/03/2013, $23.00), (Austria, 08/04/2013, $147.00), (Austria, 08/08/2012, $197.00), (Austria, 08/08/2012, $48.00), (Austria, 08/08/2012, $50.00), (Austria, 09/07/2011, $1,057.00), (Austria, 09/07/2011, $103.00), (Austria, 09/09/2011, $1,593.00), (Austria, 09/09/2011, $137.00), (Austria, 09/09/2011, $205.00), (Austria, 09/09/2011, $286.00), (Austria, 09/09/2011, $45.00), (Austria, 09/09/2011, $88.00), (Austria, 09/10/2014, $147.00), (Austria, 09/12/2013, $115.00), (Austria, 09/12/2013, $17.00), (Austria, 09/12/2013, $31.00), (Austria, 10/10/2011, $70.00), (Austria, 11/01/2011, $55.00), (Austria, 11/01/2011, $97.00), (Austria, 11/02/2013, $19.00), (Austria, 11/02/2014, $174.00), (Austria, 11/02/2014, $412.00), (Austria, 11/03/2013, $133.00), (Austria, 11/03/2013, $296.00), (Austria, 11/03/2013, $464.00), (Austria, 11/04/2012, $1,147.00), (Austria, 11/04/2012, $23.00), (Austria, 11/04/2012, $399.00), (Austria, 11/04/2012, $89.00), (Austria, 11/06/2011, $2,056.00), (Austria, 11/06/2012, $30.00), (Austria, 11/06/2012, $402.00), (Austria, 11/06/2014, $147.00), (Austria, 11/06/2014, $352.00), (Austria, 11/07/2013, $597.00), (Austria, 11/08/2014, $50.00), (Austria, 11/08/2014, $97.00), (Austria, 11/12/2013, $437.00), (Austria, 12/01/2012, $1,195.00), (Austria, 12/01/2012, $17.00), (Austria, 12/01/2012, $53.00), (Austria, 12/01/2012, $558.00), ...]

[8002 rows x 0 columns]

creating new column to get difference between order date and shipping date

In [17]:
df_merged['Date Diff'] = df_merged['Ship Date'] - df_merged['Order Date']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
#writing to csv
df_merged.to_csv('combined_dataframe.csv')