In [8]:
import pandas as pd
import os 
import requests
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
def Dataframe(a):  # creating a custom function to export dataframe to csv
    answer = a.to_csv('Project_Output.csv')     # this function is used instead of typing the .to_csv code everytime i want to extract dataframes to excel
    return answer

In [10]:
# Finding current path
os.getcwd()

# Assigning csv files to dataframes
order_list = pd.read_csv('list_of_orders.csv' , parse_dates=['Order Date','Ship Date']) #reading list of orders file
order_breakdown = pd.read_csv('order_breakdown.csv') #reading list of orders file
order_breakdown.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,45.0,-26.0,3,Office Supplies,Paper
1,AZ-2011-9050313,"Dania Corner Shelving, Traditional",0.0,854.0,290.0,7,Furniture,Bookcases
2,AZ-2011-6674300,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140.0,21.0,3,Office Supplies,Art
3,BN-2011-2819714,"Boston Markers, Easy-Erase",0.5,27.0,-22.0,2,Office Supplies,Art
4,BN-2011-2819714,"Eldon Folders, Single Width",0.5,17.0,-1.0,2,Office Supplies,Storage

In [12]:
# Merging dataframes from csv
combined = pd.merge(order_list, order_breakdown, how='inner', on = 'Order ID')
combined.index = [x for x in range(1, len(combined.values)+1)]
combined.index.names = ['Index']
combined.head()

,Order ID,Order Date,Customer Name,City,CountryCode,Region,Segment,Ship Date,Order Shipment TimeFrame,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
Index,,,,,,,,,,,,,,,,,,
1,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,AT,Central,Consumer,2011-01-15,4,Economy,Vienna,"Boston Canvas, Fluorescent",0.0,55.0,10.0,1,Office Supplies,Art
2,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,AT,Central,Consumer,2011-01-15,4,Economy,Vienna,"Smead Trays, Single Width",0.0,97.0,31.0,2,Office Supplies,Storage
3,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,AT,Central,Home Office,2011-01-19,5,Economy,Vienna,"Xerox Message Books, Premium",0.0,224.0,103.0,11,Office Supplies,Paper
4,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,AT,Central,Home Office,2011-01-19,5,Economy,Vienna,"StarTech Card Printer, White",0.0,486.0,78.0,3,Technology,Machines
5,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,AT,Central,Home Office,2011-01-19,5,Economy,Vienna,"Apple Headset, with Caller ID",0.0,440.0,66.0,6,Technology,Phones

In [13]:
#Retrieving country codes & name from API
cv19 = requests.get('https://api.covid19api.com/summary')
cv19 = cv19.json()
df = pd.DataFrame(cv19['Countries'])
countries = df[["Country","CountryCode"]]
countries.head()

       Country CountryCode
0  Afghanistan          AF
1      Albania          AL
2      Algeria          DZ
3      Andorra          AD
4       Angola          AO

In [14]:
df_joined_table = pd.merge(combined,countries, on='CountryCode', how='left')
df_merged=df_joined_table[['Order ID','Order Date','Customer Name','City','Country','Region','Segment','Ship Date',
                  'Ship Mode','State','Product Name','Discount','Sales','Profit','Quantity','Category','Sub-Category', 'Order Shipment TimeFrame']]

#code to check the number of nulls in the dataset 
df_merged.isnull().sum() 

df_merged.index.names = ['Index']

#UK did not have corresponding Country name , using code to replace the null values with 'United Kingdom'
df_merged.fillna('United Kingdom')

,Order ID,Order Date,Customer Name,City,Country,Region,Segment,Ship Date,Ship Mode,State,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order Shipment TimeFrame
Index,,,,,,,,,,,,,,,,,,
0,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,Austria,Central,Consumer,2011-01-15,Economy,Vienna,"Boston Canvas, Fluorescent",0.0,55.0,10.0,1,Office Supplies,Art,4
1,AZ-2011-4827146,2011-11-01,Faith Greenwood,Vienna,Austria,Central,Consumer,2011-01-15,Economy,Vienna,"Smead Trays, Single Width",0.0,97.0,31.0,2,Office Supplies,Storage,4
2,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,Austria,Central,Home Office,2011-01-19,Economy,Vienna,"Xerox Message Books, Premium",0.0,224.0,103.0,11,Office Supplies,Paper,5
3,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,Austria,Central,Home Office,2011-01-19,Economy,Vienna,"StarTech Card Printer, White",0.0,486.0,78.0,3,Technology,Machines,5
4,AZ-2011-5960662,2011-01-14,Ella Troy,Vienna,Austria,Central,Home Office,2011-01-19,Economy,Vienna,"Apple Headset, with Caller ID",0.0,440.0,66.0,6,Technology,Phones,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,AZ-2014-8007090,2014-12-30,Mary Saterfiel,Plymouth,United Kingdom,North,Consumer,2015-03-01,Economy,England,"Fellowes Box, Single Width",0.0,39.0,2.0,2,Office Supplies,Storage,4
8043,AZ-2014-157670,2014-12-30,Max Ludwig,Edinburgh,United Kingdom,North,Home Office,2015-04-01,Economy,Scotland,"Office Star Chairmat, Adjustable",0.0,68.0,27.0,1,Furniture,Chairs,5
8044,AZ-2014-766953,2014-12-31,Jose Gambino,Maidenhead,United Kingdom,North,Corporate,2015-05-01,Economy,England,"Ikea Stackable Bookrack, Traditional",0.0,245.0,91.0,2,Furniture,Bookcases,5
8045,AZ-2014-766953,2014-12-31,Jose Gambino,Maidenhead,United Kingdom,North,Corporate,2015-05-01,Economy,England,"Motorola Audio Dock, VoIP",0.0,867.0,251.0,5,Technology,Phones,5
8046,AZ-2014-1412225,2014-12-31,Leon Barnes,Worcester,United Kingdom,North,Consumer,2015-01-01,Priority,England,"Fellowes Shelving, Single Width",0.0,289.0,75.0,5,Office Supplies,Storage,1